html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;    
}

#parent{
    padding-top: 7rem;
    position: relative;
    align-items: center;
    margin-bottom:-1rem ;
    overflow-x: hidden;    
}

#parent .text-wrapper{
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}

#parent h1{
    font-size: 82px;
    text-transform: uppercase;
    color: red;
    white-space:nowrap;
    padding: 0 6rem;
    letter-spacing: 1px;
    animation: move-rtl 20000ms linear infinite;
}

#parent h2{
    font-size: 82px;
    text-transform: uppercase;
    color: red;
    white-space: nowrap;
    padding: 0 6rem;
    letter-spacing: 1px;
    animation: move-lft 20000ms linear infinite;
}

#parent .green{
    color: greenyellow;
}

#parent .scage{
    color: transparent;
    -webkit-text-stroke: 3px cyan;
}

#parent img{
    width: 85%;
    height: 85%;
    border-radius: 400px; 
}

@keyframes move-rtl{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

@keyframes move-lft{
    100%{
        transform: translateX(0);
    }
    0%{
        transform: translateX(-100%);
    }
}

#parent .parent-div{
    position: relative;
    
}

#parent .img-div{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 40rem;
    width: auto;
    right: 0px;
    bottom: 0px;
}

 #parent .img-div {
    align-items: center;
    justify-content: center;
    display: flex;
    width: auto;
    z-index: 1;
} 

#parent .parent-div .text-wrapper{
    transform: rotate(-6.5deg) ;
}

.white-space{
    padding: 5rem;
}

.cce{
    text-align: center;
    justify-content: center;
}