{% extends "base.html" %}

{% block content %}
    <div class="cce">|</div>
    <section id="parent">
        <div class="parent-div">
            <div class="text-wrapper one">
                <h1>Society for creative arts and <span class="green">green</span> environment</h1>
                <h1>Society for creative arts and <span class="green">green</span> environment</h1>
                <h1>Society for creative arts and <span class="green">green</span> environment</h1>
                <h1>Society for creative arts and <span class="green">green</span> environment</h1>
            </div>
            <div class="text-wrapper one">
                <h2>Art Exhibition Espion Face Canvas</h2>
                <h2>Art Exhibition Espion Face Canvas</h2>
                <h2>Art Exhibition Espion Face Canvas</h2>
                <h2>Art Exhibition Espion Face Canvas</h2>
            </div>
            <div class="text-wrapper two">
                <h1>KRITI 2K24 <span class="scage">SCAGE</span> 2014</h1>
                <h1>KRITI 2K24 <span class="scage">SCAGE</span> 2014</h1>
                <h1>KRITI 2K24 <span class="scage">SCAGE</span> 2014</h1>
                <h1>KRITI 2K24 <span class="scage">SCAGE</span> 2014</h1>
            </div>
            <div class="text-wrapper three">
                <h2> Pixel Palette Fragment Fusion Scrapyard Ink tees</h2>
                <h2> Pixel Palette Fragment Fusion Scrapyard Ink tees</h2>
                <h2> Pixel Palette Fragment Fusion Scrapyard Ink tees</h2>
                <h2> Pixel Palette Fragment Fusion Scrapyard Ink tees</h2>
            </div>
        </div>
        <div class="img-div">
        <img src="/static/assets/content/Screenshot_from_2023-09-23_21-44-423.png" alt="hero-img">
        </div>
        <div class="white-space"></div>
    </section>
    <div class="cce">|</div>
    {% endblock %}