{% extends "base.html" %}

{% block content %}
    <div class="cce">|</div>
    <section id="parent">
        <div class="parent-div">
            <div class="text-wrapper one">
                <h1>Society for creative arts and green environment</h1>
                <h1>Society for creative arts and green environment</h1>
                <h1>Society for creative arts and green environment</h1>
                <h1>Society for creative arts and green environment</h1>
            </div>
            <div class="text-wrapper one">
                <h1>Society for creative arts and green environment</h1><h1>Society for creative arts and green environment</h1><h1>Society for creative arts and green environment</h1><h1>Society for creative arts and green environment</h1>
            </div>
            <div class="text-wrapper two">
                <h2>KRITI</h2>
                <h2>KRITI</h2>
                <h2>KRITI</h2>
                <h2>KRITI</h2>
            </div>
            <div class="text-wrapper three">
                <h1> Graffiti Espion Face Canvas Ink tees</h1>
                <h1> Graffiti Espion Face Canvas Ink tees</h1>
                <h1> Graffiti Espion Face Canvas Ink tees</h1>
                <h1> Graffiti Espion Face Canvas Ink tees</h1>
            </div>
        </div>
        <div class="img-div">
        <img src="/static/assets/content/Screenshot from 2023-09-23 21-44-42.png" alt="hero-img">
        </div>
        <div class="white-space"></div>
    </section>
    <div class="cce">|</div>
    {% endblock %}